<div id="order_details" class="card bg-light col-3 rounded-0 border-0 shadow-sm position-sticky vh-100" style="top: 0; min-width: 300px;" {{ attributes }}>
    <style>
    .order-product-grid {
        display: grid;
        grid-template-columns: 0.3fr 1fr 1fr;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.25rem;
        place-items: center end;
    }

    .order-product-name {
        place-self: center start;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    </style>

    <div class="card-body d-flex flex-column">
        <h5 class="card-title pb-2 border-bottom border-dark">Pending</h5>
        <div class="order-product-grid">
            {% for product in this.pendingProducts %}
            <div>{{ product.pendingQuantity }}x</div>
            <div class="order-product-name">{{ product.name }}</div>
            <div>
                <button
                    type="button"
                    class="btn btn-outline-dark"
                    style=" --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .65rem;
                            --bs-btn-font-family: arial;"

                    data-action="live#emit"
                    data-live-event-param="order-product:deliver"
                    data-live-order-product-id-param="{{ product.id }}"
                >
                    &#10004;  Deliver
                </button>
            </div>
            {% endfor %}
        </div>
        <h5 class="card-title pb-2 pt-2 border-bottom border-dark">Delivered</h5>
        {% for product in this.deliveredProducts %}
        <div class="order-product-grid">
            <div>{{ product.quantity }}x</div>
            <div class="order-product-name">{{ product.name }}</div>
            <div>{{ product.price }}€</div>
        </div>
        {% endfor %}
    </div>
</div>
