<div class="fixed-left overflow-y-scroll p-3 bg-light shadow d-flex flex-column gap-4" style="min-width: 300px;" {{ attributes }}>
    <style>
    .order-product-grid {
        display: grid;
        grid-template-columns: 0.3fr 1fr 1fr;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.25rem;
        place-items: center end;
    }

    .order-product-name {
        place-self: center start;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    </style>

    <div>
        <a class= "d-flex btn btn-primary w-100 justify-content-center" href="{{path("tables")}}">Tischübersicht</a>
    </div>

    <div>
        <h5 class="pb-2 border-bottom border-dark">Pending</h5>
        <div class="order-product-grid">
            {% for product in this.pendingProducts %}
            <div>{{ product.pendingQuantity }}x</div>
            <div class="order-product-name">{{ product.name }}</div>
            <button
                class="btn btn-outline-dark w-100"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .65rem;"
                data-action="live#emit"
                data-live-event-param="order-product:deliver"
                data-live-order-product-id-param="{{ product.id }}"
            >
                &#10004;  Deliver
            </button>
            {% endfor %}
        </div>
    </div>

    <div>
        <h5 class="pb-2 pt-2 border-bottom border-dark">Delivered</h5>
        <div class="order-product-grid">
            {% for product in this.deliveredProducts %}
            <div>{{ product.quantity }}x</div>
            <div class="order-product-name">{{ product.name }}</div>
            <div>{{ product.price * product.quantity }} €</div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-between border-top border-dark mt-2">
            <h5>Total:</h5>
            <span>{{ order.totalPrice|number_format(2) }} €</span>
        </div>
    </div>
</div>
