<div class="col overflow-auto" style="max-height: 100vh;" {{ attributes }}>
    <div class="d-flex flex-wrap justify-content-center">
        {% for product in this.products %}
        <div class="button-container" data-id={{product.id}}>
            <button
                class="btn btn-light shadow-sm m-3"
                style="width: 10rem; height: 10rem;"
            >
                PICTURE
                <br/>

              {{product.name}} {{ product.variant.name }}
              <div class="divider-horizontal"></div>
              {{product.price | number_format(2)}}€
            </button>

            <div class="overlay">
                <button class="side minus no-select rounded-start" style="border-width: 0" data-id="{{product.name}}" data-action="live#emit"
                data-live-event-param="product:remove"
                data-live-product-id-param="{{ product.id }}">-</button>
                <div class="d-flex flex-1">
                    <div class="divider"></div>
                </div>
                <button
                    class="side plus no-select rounded-end"
                    style="border-width: 0"
                    data-action="live#emit"
                    data-live-event-param="product:add"
                    data-live-product-id-param="{{ product.id }}">+
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
